mixin experience (header, text)
    .experience
            .experience__header
                .experience__header-ring
                h2(class='experience__header-header')= header
                .experience__header-line
            .experience__list
                        strong(class="experience__block-name") COMPANY NAME 
                            span(class="experience__block-data")  // Feb 2011 - Jun 2014
                        p(class="experience_text_job") YOUR JOB HERE
                        p(class="experience_text") Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
            .experience__list.two
                        strong(class="experience__block-name") COMPANY NAME 
                            span(class="experience__block-data") // Feb 2011 - Jun 2014
                        p(class="experience_text_job") YOUR JOB HERE
                        p(class="experience_text") Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque. 
            .experience__list.three
                        strong(class="experience__block-name") COMPANY NAME 
                            span(class="experience__block-data") // Feb 2011 - Jun 2014
                        p(class="experience_text_job") YOUR JOB HERE
                        p(class="experience_text") Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.    