  .experience__header {
      display: flex;
      margin-top: 3%;
      margin-bottom:3.8%;
  }
  .experience__header-header{
    text-transform: uppercase;
    font-family: 'MyriadProBold';
    color: #3d6cb0;
    letter-spacing:0.03vw;
    font-size: 3.26vw;
    margin-right: 2%;
    margin-left: 3%;
    padding-top: 7.7%;
  
  }
  .experience__header-line {
    height: .45vw;
    width: 48.5%;
    display: flex;
    background: #3d6cb0;
    margin-top: 10.3%;
    margin-left: -1.7%;
    position: relative;
  }
  
  .experience__header-ring {
    @include ring(5.5vw, 0.2vw, 0.01vw, #3d6cb0, #ffffff);
    margin-top: 5%;
    margin-left: .5%;
  }
  .experience__list{
    position: relative;
    display: block;
    margin-top: 6.9%;
  }
 
  .experience__list::before{
    content: "";
    position: absolute;
    width: 2rem;
    height: 2rem;
    top:2.5%;
    left: 2.2%;
    background-color: black;
    border-radius: 50%;
  }

  .experience__block-name{
    font-family: 'MyriadProBold';
    font-size: 2vw;
    margin-left:-13.6%; 
    letter-spacing: 0.048rem;
  }
  .experience__block-data{
    font-family: 'MyriadPro';
    font-size: 2vw;
    padding-left: 1.5%;
  
  }
  .experience_text_job{
    text-align: left;
    padding-left:8.4%;
    padding-top: .5vw; 
    font-family: 'MyriadPro';
    font-size: 2vw;
    letter-spacing: 0.04vw;
    line-height:2.3vw;
  }
  .experience_text{

    text-align: left; 
    font-family: 'MyriadPro';
    padding-left:4.5vw;
    padding-top: 0.6vw;
    font-size: 1.2vw;
    letter-spacing: 0.019vw;
    line-height: 1.8rem;
  }

  .two{
    margin-top:2.2%; 
  }
  .three{
    margin-top:2.5%; 
  }
  