.practice {
  padding: 1.6% 0 0.4rem 5.2rem;
  text-align: left;
  position: relative;
  font-size: 2.5rem;

  @media screen and (max-width: 1805px) {
    padding: 1rem 0 0.4rem 4rem;
    font-size: 2rem;
  }

  @media screen and (max-width: 1450px) {
    font-size: 1.5rem;
  }

  &::before {
    content: "";
    position: absolute;
    width: 1.53vw;
    height: 1.56vw;
    top: 10.5%;
    left: 2.2%;
    background-color: black;
    border-radius: 50%;
  }

  &__title {
    color: #385a94;
    font-weight: bolder;
    text-transform: uppercase;
    float: left;
    width: 35.4%;
  }

  &__data {
    letter-spacing: 0.01rem;
  }

  &__name {
    text-transform: uppercase;
    margin-top: 0.3rem;
    letter-spacing: -0.01rem;
  }

  &__text {
    padding-top: 0.6rem;
    padding-left: 0.5%;
    font-size: 1.5rem;
    letter-spacing: -0.003rem;
    line-height: 1.8rem;
  }
}