mixin practice (options)
  -let {title="title", data="data", name="name", text='text'} = options;

  .practice
    .practice__header
      .practice__title= title
      .practice__data=  data
      .practice__name=  name
    .practice__text= text