mixin header(parametr)
    .contact__header
            img(class="contact__header-ring" src= parametr.img alt= parametr.alt)
            h2(class='contact__header-header')= parametr.header
            .contact__header-line