.header-left {
    display: flex;
    padding-right: 2.9%;
}
.header__header-left{
  text-transform: uppercase;
  font-family: 'MyriadProBold';
  color: #3d6cb0;
  letter-spacing:0.03vw;
  font-size: 3.25vw;
  margin-right: 1.8%;
  margin-left: 2.7%;
  padding-top: 3.5%;
}

.header-left:after {
  content: "";
  display: inline-block;
  height: 0.4vw;
  margin-top: 7.6%;
  background: #3d6cb0;
  flex: 1;
}
.header__ring-left {
  width:5.8vw;
  height:5.8vw;
  margin-left: 2.2%;
}
.header-right{
  display: flex;
  padding-left: .1%;
  padding-right: 1%;
}
.header__ring-right{
  width:6vw;
  height:5.8vw;
}
.header__header-right{
  text-transform: uppercase;
  font-family: 'MyriadProBold';
  color: #3d6cb0;
  letter-spacing:0.04vw;
  font-size: 3.25vw;
  margin-right: 1.5%;
  margin-left: 3%;
  padding-top: 2.5%;
}
.header-right:after {
  content: "";
  display: inline-block;
  height: 0.4vw;
  margin-top: 5.2%;
  background:#3d6cb0;
  flex: 1;
}