include ../header/header

mixin profile(options)
  -let {title="title", text="text", strongText="strongText"} = options
  .profile
    +header({title: title})

    p.profile__text= text
      span.profile__text-strong= strongText