.profile {

  &__text {
    text-align: left;
    font-size: 1.52rem;
    line-height: 1.8rem;
    letter-spacing: -.01rem;
    margin: 1.1rem 0 0 .9rem ; 
    width: 95.5%;
  }
  
  &__text-strong {
    font-weight: bolder;
    line-height: 1.56vw;
  }
}