include ../header/header

mixin profile(options)
  -let {text="text", strongText="strongText"} = options
  .profile
    +header("profile")

    p.profile__text= text
      span.profile__text-strong= strongText