mixin software (header)
    .software
            .software__header
                .software__header-ring
                h2.software__header-header= header
                .software__header-line
            .software-column
                .software-column__left
                    .software-column__photoshop
                        h2.software-column__h2 PHOTOSHOP
                        .software-column_points
                            div.software-column_points_colored
                    .software-column__illustrator
                        h2.software-column__h2 ILLUSTRATOR
                        .software-column_points-il
                            .software-column_points_colored-li
                    .software-column__indesign
                        h2.software-column__h2 INDESIGN
                        .software-column_points-in
                            .software-column_points_colored-in
                .software-column__right            
                    .software-column__dreamweaver
                        h2.software-column__h2 DREAMWEAVER
                        .software-column_points-dr
                            .software-column_points_colored-dr
                    .software-column__after-effects
                        h2.software-column__h2 AFTER EFFECTS
                        .software-column_points-af
                            .software-column_points_colored-af
                    .software-column__html5css3
                        h2.software-column__h2 HTML&CSS3
                        .software-column_points-hc
                            .software-column_points_colored-hc