.contact{
    margin-top: 0.8%;
    padding-top: .2%;
    padding-bottom: 4.5%;
  }
  .contact__table-headline, .contact__table-text {
     margin: 0;
     padding: 0;
  }
  .contact__headline-color{
    font-family: 'MyriadProBold';
    color: #385a94;
    letter-spacing:0.08vw;
    font-size: 1.5vw; 
    font-weight: bold;
    text-align: left;
  }
  .contact__text-color{
    font-family: 'MyriadPro';
    font-size: 1.6vw; 
    text-align: center;
   
  }
  .contact__headline-addres{
    letter-spacing:0.02vw;
    font-size: 1.64vw;
     padding-top:35%;
     padding-left: 9%;
  }
  .contact__text-addres{
    margin-left: 18%;
    letter-spacing:0.02vw;
  }
  .contact__headline-mail{
    font-size: 1.59vw;
    letter-spacing:0.03vw;
     padding-top:35%;
     padding-left: 10%;
  }
  .contact__text-mail{
    margin-left: 21%;
    letter-spacing:0.03vw;
  }
  .contact__headline-phone{
    padding-top:37%;
    padding-left: 10.1%;
  }
  .contact__text-phone{
    letter-spacing:0.03vw;
  }
  .contact__headline-web{
    font-size: 1.59vw;
    letter-spacing:0.05vw;
    margin-top:36%;
    padding-left: 9.5%;
  }
  .contact__text-web{
    margin-left: 21%;
    letter-spacing:0.03vw;
  }  