.contact {
  padding: 1.63rem 0;
  text-align: left;
  &__title{
    color:$blue-color;
    font-family: "MyriadProBold";
    font-size: 2rem;
    text-transform: uppercase;
    float: left;
    width: 30%;
  }
  &__value{
    color:black;
    font-family: "MyriadPro";
    font-size: 2rem;
  }
}