.contact{
    margin-top: 0.8%;
  }
  .contact__table-headline, .contact__table-text {
     margin: 0;
     padding: 0;
  }
  .contact__headline-color{
    font-family: 'MyriadProBold';
    color: #385a94;
    letter-spacing:0.08vw;
    font-size: 1.5vw; 
    font-weight: bold;
    text-align: left;
  }
  .contact__text-color{
    font-family: 'MyriadPro';
    font-size: 1.6vw; 
    text-align: center;
   
  }
  .contact__headline-addres{
    letter-spacing:0.02vw;
    font-size: 1.96rem;
     padding-top:2.85vw;
     padding-left: .7vw;
  }
  .contact__text-addres{
    padding-top:.97vw;
    margin-left: -0.4vw;
    letter-spacing:0.02vw;
  }
  .contact__headline-mail{
    font-size: 1.9rem;
    letter-spacing:0.03vw;
     padding-top:2.8vw;
     padding-left: .75vw;
  }
  .contact__text-mail{
    padding-top:2.35vw;
    margin-left: 3.2vw;
    letter-spacing:0.03vw;
  }
  .contact__headline-phone{
    padding-top:2.8vw;
     padding-left: .77vw;
  }
  .contact__text-phone{
    padding-top:2.35vw;
    margin-left: -3.2vw;
    letter-spacing:0.03vw;
  }
  .contact__headline-web{
    font-size: 1.9rem;
    letter-spacing:0.05vw;
    margin-top:2.86vw;
    padding-left: .7vw;
  }
  .contact__text-web{
    padding-top:2.3vw;
    margin-left: 1.8vw;
    letter-spacing:0.03vw;
  }  