mixin practice (parametr)
  .practice
    .practice__header
      .practice__header__title= parametr.title
      .practice__header__data=  parametr.data
      .practice__header__name=  parametr.name
    .practice__text= parametr.text