include ../header/header
include ../practice/practice

mixin experience (options)
  -let {title="title", experience=[]} = options
  +header({title: title})

  .experience
    each item in experience
      +practice(item)