.logo {
  padding: 1.35rem 0 3.1rem;
  text-transform: uppercase;
  font-family: "myriadprobold";

  &__ring {
    @include ring(19.5rem, 1.4rem, 0.09rem, $blue-color, $white-color);
    margin-left: 25.2%;
  }

  &__name {
    font-family: "myriadprolight";
    font-size: 5.25rem;
    padding: 2.95rem 0 0 1.4rem;
    letter-spacing: -0.07rem;
  }

  &__surname {
    font-size: 6rem;
    line-height: 5.01rem;
    letter-spacing: -0.01rem;
    padding-left: 3.1%;
  }

  &__job {
    font-size: 2.4rem;
    letter-spacing: -0.045rem;
    padding: 1.3rem 0 0 1.3rem;
  }
}
@media only screen and (max-width: 1910px) {
  .logo {
    &__ring {
      margin: auto;
    }
  }
}
