  .education__text{
    font-family: 'MyriadPro';
    background: black;
    text-align: left;
    font-size: 1.2vw;
    margin-top: 3%;
    margin-left: 4%;
    margin-right: 3%;
  }
  .education__list{
    position: relative;
    display: block;
  }
  .education__list::before{
    content: "";
    position: absolute;
    width: 2rem;
    height: 2rem;
    top:4%;
    left: 2.2%;
    background-color: black;
    border-radius: 50%;
  }
  
  .education__block-name{
    font-family: 'MyriadProBold';
    color:#3d6cb0;
    font-size: 2vw;
    margin-left:-13.5%; 
    letter-spacing: 0.035vw;
  }
  .education__block-data{
    font-family: 'MyriadPro';
    letter-spacing: -.01rem;
    font-size: 2.1vw;
    margin-left: 1.8%;
  }
  .education_text_job{
    text-align: left;
    padding-left:8.5%;
    padding-top: 0.5vw; 
    font-family: 'MyriadPro';
    font-size: 2vw;
    letter-spacing: 0.04vw;
    line-height:2.3vw;
  }
  .education_text{
    text-align: left; 
    font-family: 'MyriadPro';
    padding-left:4.5vw;
    padding-top: 0.6vw;
    font-size: 1.2vw;
    letter-spacing: 0.019vw;
    line-height: 1.8rem;
  
  }
  .education__list{
  margin-top: -.8%;
  position: relative;
  display: block;
  }
  .two{
    margin-top:2.3%; 
  }
  .three{
    margin-top:2.2%; 
  }
  .four{
    margin-top:2%;
  }