mixin education ()
    .education
            +header({header: 'education', img: '/src/img/EDUCATION_ICON.svg', alt: 'education icon'})
            .education__list
                        strong(class="education__block-name") MASTER DEGREE 
                            span(class="education__block-data") // Feb 2011 - Jun 2014
                        p(class="education_text_job") UNIVERSITY NAME
                        p(class="education_text") Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
            .education__list.two
                        strong(class="education__block-name") MASTER DEGREE 
                        span(class="education__block-data") // Feb 2011 - Jun 2014
                        p(class="education_text_job") UNIVERSITY NAME
                        p(class="education_text") Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque. 
            .education__list.three
                        strong(class="education__block-name") MASTER DEGREE 
                        span(class="education__block-data") // Feb 2011 - Jun 2014
                        p(class="education_text_job") UNIVERSITY NAME
                        p(class="education_text") Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque. 
            .education__list.four
                        strong(class="education__block-name") MASTER DEGREE 
                        span(class="education__block-data") // Feb 2011 - Jun 2014
                        p(class="education_text_job") UNIVERSITY NAME
                        p(class="education_text") Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.  