.profile{
    margin-top: 11%;
    padding-top: .002%;
    padding-bottom: 4.4%;
  }

  .profile__text{
    font-family: 'MyriadPro';
    text-align: left;
    font-size: 1.25vw;
    line-height: 1.5vw;
    margin-top: 2.8%;
    margin-left: 2%;
    width: 95.7%;
  }
.profile__text-strong{
    font-family: 'MyriadProBold';
    line-height: 1.56vw;
}
@media only screen and (max-width: 600px){
  .profile{
    margin-top: 3%;
    padding-bottom: 2%;
  }
  .profile__text{
    font-size: 2.7vw;
    letter-spacing: 0.1vw;
    line-height: 3vw;
  }
}