extends template/template

include logo/logo
include profile/profile
include contact/contact
include skills/skills
include education/education
include experience/experience

block content
    .content
        .content__left
            .name-job.width
                +logo({name: 'name here', surname: 'surname', job: 'graphic designer'})
            .profile.width
                +profile('profile')
            .contact.width
                +contact('contact')
            .skills.width
                +skills('skills')
        .content__right  
            .education.width
                +education('education')
            .expwrience.width
                +experience('experience')
            .software.width