extends template/template

block content
    .content
        .content__left
            .name-job.width
            .profile.width
            .contact.width
            .skills.width
        .content__right  
            .education.width
            .expwrience.width
            .software.width