extends template/template

include logo/logo
include profile/profile
include contact/contact

block content
    .content
        .content__left
            .name-job.width
                +logo({name: 'name here', surname: 'surname', job: 'graphic designer'})
            .profile.width
                +profile('profile')
            .contact.width
                +contact('contact')
            .skills.width
        .content__right  
            .education.width
            .expwrience.width
            .software.width