@mixin ring($diameter, $border, $shadow, $mainColor, $minorColor) {
    background: $mainColor;
    border : $border solid $minorColor;
    border-radius: 50%;
    width: $diameter;
    height: $diameter;
    position: relative;
    box-shadow: 0 0 0 $shadow $mainColor;
    }
@import 'reset/reset.scss';
@import 'fonts/fonts.scss';
@import 'logo/logo.scss';
@import 'profile/profile.scss';
@import 'contact/contact.scss';
@import 'skills/skills.scss';
@import 'education/education';
@import 'experience/experience';
@import 'software/software';
@import 'header/header';


.content{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:justify;
    -ms-flex-pack:justify;
    justify-content:space-between;
    text-align:center;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -ms-flex-direction:row;
    flex-direction:row;
    max-width:100%
 }

 .content__left, .content__right{
    margin-top: 7.25rem;
    height: 155.5rem;
 }
 .content__left{
    width: 42rem;
    height: 155.5rem;
    margin-left: 5rem;
 }
 .content__right{
    width: 62rem; 
    margin-right: 4rem;
 }
 .width{
    width: 100%;
 }
 .name-job{
     height: 43.5rem;
 }
 .profile{
    height: 36rem;  
 }
 .contact{
    height: 33rem;   
 }
 .skills{
    height: 43rem;  
 }
 .education{
    height: 61.3rem;  
 }
 .expwrience{
    height: 54.7rem;   
 }
 .software{
    height: 39.5rem;  
 }