@mixin ring($diameter, $border, $shadow, $mainColor, $minorColor) {
    background: $mainColor;
    border : $border solid $minorColor;
    border-radius: 50%;
    width: $diameter;
    height: $diameter;
    position: relative;
    box-shadow: 0 0 0 $shadow $mainColor;
    }
@import 'reset/reset.scss';
@import 'fonts/fonts.scss';
@import 'logo/logo.scss';
@import 'profile/profile.scss';
@import 'contact/contact.scss';
@import 'skills/skills.scss';
@import 'education/education';
@import 'experience/experience';
@import 'software/software';
@import 'header/header';

.content{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:justify;
    -ms-flex-pack:justify;
    justify-content:space-between;
    text-align:center;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -ms-flex-direction:row;
    flex-direction:row;
    padding: 6.1% 3.3% 0 4.2%;
    max-width:100%
 }
 .content__left{
    width: 38.2%;
    margin-right: 5.5%;
 }
 .content__right{
    width: 56.3%; 
 }
 .width{
    width: 100%;
 }

 @media only screen and (max-width: 600px){
   .content{
      display: inline;
   }
   .content__left{
      width: 100%;
   }
   .content__right{
      width: 100%; 
   }
 }