include ../header/header

mixin software (options)
  -let {title="title", software=[]} = options
  +header({title: title}) 

  .software
    each item in software
      -let {name="name", percent="percent"} = item;
      .software__block
        h3.software__title= name

        .software__points
          .software__points-mastered(style=`width:${percent};`)