include ../header/header

mixin software (software)
  +header("software") 

  .software
    each item in software
      .software__block
        h3.software__title= item.name
        
        .software__points
          .software__points.software__points_color_blue(style=`width:${item.percent};`)