.header {
  display: flex;
  padding-right: 2.9%;
  align-items: center;

  &__ring {
    width: 7rem;
    height: 7rem;
    margin-left: 2.2%;
  }

  &__text {
    text-transform: uppercase;
    font-weight: bolder;
    color: #385a94;
    letter-spacing: 0;
    font-size: 4rem;
    margin: 0 1.8% 0 2.7%;
  }

  &:after {
    content: "";
    display: inline-block;
    height: 0.45rem;
    background: #385a94;
    flex: 1;
  }
}