.header {
  display: flex;
  padding-right: 2.9%;

  &__ring {
    width: 7rem;
    height: 7rem;
    margin-left: 2.2%;
  }

  &__text {
    text-transform: uppercase;
    font-family: "myriadprobold", "Arial", Sans-Serif;
    color: #385a94;
    letter-spacing: 0;
    font-size: 4rem;
    margin: 0 1.8% 0 2.7%;
    padding-top: 2.6%;
  }

  &:after {
    content: "";
    display: inline-block;
    height: 0.45rem;
    margin-top: 7.6%;
    background: #385a94;
    flex: 1;
  }
}

@media only screen and (max-width: 600px) {
  .header {
    
    .header__text {
      padding-top: 1.5%;
    }

    &:after {
      margin-top: 3%;
    }
  }
}
