@mixin ring($diameter, $border, $shadow, $mainColor, $minorColor) {
  background: $mainColor;
  border: $border solid $minorColor;
  border-radius: 50%;
  width: $diameter;
  height: $diameter;
  position: relative;
  box-shadow: 0 0 0 $shadow $mainColor;
}

$blue-color: #385a94;
$white-color: #ffffff;

@import "fonts/fonts.scss";
@import "blocks/logo/logo.scss";
@import "blocks/profile/profile.scss";
@import "blocks/contact/contact.scss";
@import "blocks/skills/skills.scss";
@import "blocks/education/education.scss";
@import "blocks/experience/experience.scss";
@import "blocks/practice/practice";
@import "blocks/software/software";
@import "blocks/header/header";

html {
  font-size: 16px;
}

.content {
  display: flex;
  justify-content: space-between;
  text-align: center;
  flex-direction: row;
  padding: 6.1% 3.3% 0 4.2%;
  max-width: 100%;
  min-width: 320px;

  &__left {
    width: 38.2%;
    margin-right: 5.5%;
  }

  &__right {
    width: 56.3%;
  }
}

@media screen and (max-width: 1291px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 1251px) {
  html {
    font-size: 13px;
  }
}

@media screen and (max-width: 1210px) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-width: 1110px) {
  html {
    font-size: 11px;
  }
}

@media screen and (max-width: 1050px) {
  html {
    font-size: 10px;
  }
}
@media screen and (max-width: 960px) {
  html {
    font-size: 9px;
  }
}

@media screen and (max-width: 860px) {
  html {
    font-size: 8px;
  }
}

@media screen and (max-width: 754px) {
  html {
    font-size: 7px;
  }
}

@media screen and (max-width: 654px) {
  html {
    font-size: 6px;
  }
}

@media screen and (max-width: 700px) {
  html {
    font-size: 10px;
  }

  .content {
    display: inline;

    &__left {
      width: 100%;
    }

    &__right {
      padding-left: 2%;
      width: 96%;
    }
  }
}
