include ../header/header
include ../practice/practice

mixin education (options)
  -let {title="title", education=[]} = options
  +header({title: title})

  .education
    each item in education
      +practice(item)